<h1><%= @staff_member.name %></h1>

<dl>
  <dt>Name</dt>
  <dd><%= @staff_member.name %></dd>

  <dt>Email</dt>
  <dd><%= @staff_member.email %></dd>

  <dt>Role</dt>
  <dd><%= @staff_member.role %></dd>

  <dt>Hotel</dt>
  <dd><%= @staff_member.hotel.name %></dd>
</dl>
